
.*
!/.gitignore
!/.gitmodules
!/.scripts
!/.scripts/**

!/.specs-repositories
!/.specs-dependencies

!/.mosaic-repositories
!/.mosaic-dependencies

!/.pallur-distribution

!/.pallur-local-env.bash
!/.pallur-local-repositories
!/.pallur-local-dependencies
!/.pallur-local-tools
!/.pallur-local-artifacts
!/.pallur-local-home

*#
*~
